<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header role="banner">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Get Swole Land", root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="">
                <%= link_to "Home", root_path %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
